body {
  background-color: #f3b5a6;
  color: white;
  font-size: 24px;
  font-family: sackers-heavy;
  overflow: hidden;
}

h2, h3 {
  clear: both;
}

ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #FFE5DE;
}

.clear-inline {
  display: block;
}
