body {
  background-color: #E2DAD8;
  color: white;
  font-size: 24px;
  font-family: sackers-heavy;
  overflow: hidden;
  height:100vh;
}

h2, h3 {
  clear: both;
}

ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #FFE5DE;
}

h4 a {
  font-size: 12px;
}

.clear-inline {
  display: block;
}

.content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.invitation {
  background-color: #f3b5a6;
  margin: auto;
  width: 500px;
  padding: 30px;
  border: 3px double rgba(245,245,245,.56)
}
