body {
  background-color: #E2DAD8;
  color: white;
  font-size: 24px;
  font-family: sackers-heavy;
  overflow: hidden;
  height:100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.can-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

h2, h3 {
  clear: both;
}

ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #FFE5DE;
  text-decoration: none;
}

h4 a {
  font-size: 12px;
  border-bottom: 1px solid;
  padding: 3px;
}

.clear-inline {
  display: block;
}

.content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.invitation {
  background-color: #FFC0CB;
  margin: auto;
  width: 500px;
  padding: 30px;
  border: 4px double rgba(245,245,245,.56)
}
