h3 {
  margin-bottom: 30px;
}

h4 {
  font-family: sackers-medium;
  font-weight: normal;
  font-size: 14px;
  color: #FFF8DE;
  margin-bottom: 10px;
}

.header-images {
  width: 100%;
  text-align: center; 
  white-space: pre-line;
  line-height: 0;
  *white-space: pre;
  *word-wrap: break-word;
}

.header-images .main-logo {
  height: 250px;
  -webkit-transition: width 0.5s, height 0.5s,-webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.header-images .hearth {
  width: 30px;
  height: 20px;
  margin-top: 20px;
}

.text {
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

.symbol {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.inner-text {
  display: block;
  float: left;
}

.special-text {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.separator {
  width: 315px;
  border: 3px double rgba(245, 245, 245, 0.56);
  margin: 15px auto 10px;
}
