<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./static/css/sdt-{{STATIC_VERSION}}.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./static/js/sdt-{{STATIC_VERSION}}.min.js"></script>
    <title>_('Page title')</title>
    <meta property="og:title" content="_('Page title')" />
    <meta property="og:site_name" content="_('og site name')"/>
    <meta property="og:url" content="_('og url')" />
    <meta property="og:description" content="_('og description')" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.anitaytomas.com/assets/sdt/img/icon.png" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="article:author" content="https://www.facebook.com/tomasperezv" />
  </head>
<body>
  <div class="header-images">
    <img title="_('Save the date')" alt="_('Save the date')" class="main-logo" src="./static/img/header.png">
    <div class="clear-inline"></div>
    <img title="_('Hearth logo')" alt="_('Hearth logo')" class="hearth" src="./static/img/hearth.png">
  </div>
  <div class="text">
    <h2>
      <div class="special-text">
        <span class="symbol">~</span>
        <span class="inner-text">_('ANITA Y TOMAS')</span>
        <span class="symbol">~</span>
      </div>
    </h2>
    <h3>
      <li>
        <ul>_('Se casan')</ul>
        <ul class="separator"></ul>
        <ul>_('4 de Julio del 2015')</ul>
        <ul>_('Catedral de Zamora')</ul>
      </li>
    </h3>
    <h4>_('La invitación formal se enviará posteriormente.')</h4>
    <h4>
      <a target="_blank" href="_('url')">_('url text')</a>
    </h4>
  </div>
</body>
</html>
