<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./static/css/sdt-{{STATIC_VERSION}}.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./static/js/sdt-{{STATIC_VERSION}}.min.js"></script>
  </head>
<body>
  <div class="header-images">
    <img class="image header" src="./static/img/header.png">
    <img class="image hearth" src="./static/img/hearth.png">
  </div>
  <div class="text">
    <div>Title _('Hello')</div>
    <h2>
      <div class="special-text">
        <span class="symbol">~</span>
        <span class="inner-text">ANITA Y TOMÁS</span>
        <span class="symbol">~</span>
      </div>
    </h2>
    <h3>
      <li>
        <ul>4 de Julio del 2015</ul>
        <ul>Catedral de Zamora</ul>
      </li>
    </h3>
    <h4>La invitación formal se enviará posteriormente.</h4>
    <h4>
      <a target="_blank" href="http://www.anitaytomas.com">http://www.anitaytomas.com</a>
    </h4>
  </div>
</body>
</html>
